@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/PKT-AT/img/backgorund.jpg);
    list-style-type: none;
    text-decoration: none;
     cursor: url(/PKT-AT/img/cursor.jpg), pointer;
            /* cursor: url('cursor/liscursor/Cursor\ LiS/IBeam.cur'), text; */
}

nav {
    background-color: #cbebf7;
    height: 80px;
    width: 100%;
    position: fixed;
    box-shadow: 10px 2px 5px #2da5d1; 
}

label.logo {
    font-family: "Quicksand", sans-serif;
    font-size: 40px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

/* ul li {
    position: relative;
    float: right;
    margin: 40px 50px 0 0;
    list-style-type: none;
    font-family: "Quicksand", sans-serif;
}

li {
    font-size: 19px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
}

p {
    padding: 10px;
} */

nav ul li a {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: #2da5d1;
    padding: 7px 13px;
    border-radius: 3px;
    font-size: 17px;
    text-transform: uppercase;
}

a.active,a:hover {
    background-color: #2da5d1;
    color: #2c3e50;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #2c3e50;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.checkbtn:hover{
    color: #2da5d1;
}

#check {
    display: none;
}

.footer {
    font-family: 'Quicksand',sans-serif;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background-color: #cbebf7;
    box-shadow: 0px -2px px 0 rgba(0, 0, 0, 0.2);
}

footer {
    padding-top: 20px;
    width: 100%;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon a {
    font-size: 25px;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    color: black;
    text-decoration: none;
    border-radius: 50%;
}

.icon a:hover {
    color: white;
    background-color: #2da5d1;
}

@media (max-width :952px){
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width :858px) {
    .checkbtn {
        display: block;
    }

    nav {
        position: fixed;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #cbebf7;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a.active {
        color: #2c3e50;
        background: none;
    }

    footer {
        width: 100%;
    }

    a:hover {
        color: white;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

.header-content {
    padding-block: 2rem;
    text-align: center;
}

.header-content h1 {
    margin-bottom: 2rem;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 5rem;
    color: #2c3e50;
}

.header-content h1 span {
    color: black;
}

.header{
    text-align: center;
    position: absolute;
}

.header-content p {
    margin-bottom: 4rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.75rem;
    color: black;
}

.footer{
    font-weight: 400;
    background-color: #cbebf7;
    padding: 30px 0; 
    
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}

.footer .social a{
    font-size: 30px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover{
    color: aqua;  
    text-decoration: underline;  
}



button{
    padding: 15px 30px;
    margin-top: 10px;
    width: 200px;
    background-color: #cbebf7;
}

a{
    color: #2c3e50;
}

a:visited{
    color: #2c3e50;
}

.button :hover{
    color: #2da5d1;
}

.button{
    font-size: 35px;
    text-decoration: none;

}

/* .logo-link {
            color: #2da5d1; /* Default color */
            text-decoration: none; /* Remove underline */
} */
/* .logo-link:hover {
            color: blue; /* Change color on hover */
            text-decoration: none; /* Ensure no underline on hover */
} */


